BOT_TOKEN=replace_me
API_ID=12089203
API_HASH=replace_me
OWNER_ID=7363967303
PROXYCHECK_API_KEY=replace_me
DB_PATH=data/bot.db
MAX_CONCURRENCY=500
CONNECT_TIMEOUT=8
TOTAL_TIMEOUT=12
USER_COOLDOWN_SECONDS=2
RESULT_TTL_HOURS=24
